tickTime=2000
initLimit=10
syncLimit=5
dataDir=/opt/zk/data
maxClientCnxns=500
clientPort=2181
autopurge.snapRetainCount=3
autopurge.purgeInterval=1
{{range $i, $containerName := ls "/self/service/containers"}}
server.{{getv (printf "/containers/%s/create_index" $containerName)}}={{getv (printf "/containers/%s/primary_ip" $containerName)}}:2888:3888{{end}}
